*{
	margin: 0;
	padding: 0;
}
.padre{
	width: 800px;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.box{
	width: 50%;
	padding: 5px;
	box-sizing: border-box;
}
.box img{
	border: 1px solid #ccc;
	display: block;
	width: 100%;
}
